**/*.aux
**/*.log
**/*.out
**/*.pdf
**/*.toc
**/texput.log
**/tmp.markdown
**/_minted-*/
**/tmp.tex

00_docker/secret-mount/secret.txt
01_introduction/traefik-architecture.png

## python
**/.venv
**/__pycache__/

# templating
*/templating/simple/all.yaml
